li{
    display: flex;
    font-style: inherit;
  }
  
  ul{
    display: flex;
    align-items: center;
    margin-right: 39px;
    gap: 30px;
  }

  .btn{
    display: flex;
    background-color: #f3b01b;
    color: white;
    border-radius: 30px;
    padding: 12px 35px;
    display: inline-block;
    transition: all .4s;
  }

  .btn:hover{
    background-color: white;
    border: 1px solid #f3b01b;
    color: black;
  }

  .img{
    height: 36px;
  }

  nav{
    display: flex;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }

  header::shadow{
    box-shadow: 0 8px 16px rgb(0 0 0 / 8%);
  }